.homeCardLink {
  text-decoration: none !important;
}

.image {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
  border 0.3s ease-in-out, margin-top 0.3s ease-in-out,
  margin-bottom 0.3s ease-in-out;
}

.image:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}
